<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie["title"] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if not movie %}
    <p>Khong co thong tin bo phim nay</p>
    {% else %}
    <h1>Thong tin chi tiet</h1>

    <h2>Ten phim: {{ movie["title"] }}</h2>
    <p>Nam phat hanh: {{ movie["year"] }}</p>
    {% endif %}
</body>
</html>